body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.header {
    display: flex;
    gap: 50px;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 750px;
    height: 750px;
    border: 2px solid black;
    margin: 0;
}

.column {
    flex: 1 1 auto;
    display: flex;
    margin: 0;
    padding: 0;
}

.row {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

.highlight {background-color: black;}